# Next.js
nextjs/node_modules/
nextjs/.next/
nextjs/.swc/
nextjs/coverage/
nextjs/test-results/

# Other
.env
.env.*
.DS_Store
supabase/.temp
nextjs/.vercel/

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfplan
